<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>proposal</title>
<link rel="stylesheet" style="text/css"  href="{{ asset('bundles/proposalweb/css/proposal.css')}}" media="all" />
    <link rel="stylesheet" style="text/css"  href="{{ asset('bundles/proposalweb/css/base.css')}}" />
<link rel="stylesheet" style="text/css"  href="{{ asset('bundles/proposalweb/css/button.css')}}"  />
</head>

<body>

<div class="bg1">
<div class="title1">{{ title0 }}
<br>{{ title1 }}
        </div>
    <div class="button-middle">
    <a href="proposal2.php"><button class="button blue" ><div class="shine"></div>开始>></button></a>
		</div>
</div>


</body>
</html>
