{% extends 'ProposalWebBundle:Default:base.html.twig' %}

{% block main_content %}
<div class="admin_block">
    <!--proposal1-->
    <div class="fix_block">
        <div class="show_block">
            {% for value in data1 %}
                <li><a href="{{ path('editProposal1',{id:value.id}) }}" target="_blank">{{ value.title }}</a></li>
            {% endfor %}
        </div>
        <div class="button-middle" style="font-size: 18px !important;">
        <a href="{{ path('new_proposal1') }}" target="_blank"><button class="button blue admin_button" ><div class="shine"></div>new proposal1</button></a>
        </div>
    </div>

    <!--proposal2-->
    <div class="fix_block">
        <div class="show_block">
                {% for value in data2 %}
                    <li><a href="{{ path('editProposal2',{id:value.id}) }}" target="_blank">{{ value.question }}</a></li>
                {% endfor %}
        </div>
        <div class="button-middle" style="font-size: 18px !important;">
        <a href="{{ path('new_proposal2') }}" target="_blank"><button class="button blue admin_button" ><div class="shine"></div>new proposal2</button></a>
        </div>
    </div>

    <!--storybook-->
    <div class="fix_block">
        <div class="show_block">
            {% for value in data3 %}
                <li><a href="{{ path('editStorybook',{id:value.id}) }}" target="_blank">{{ value.title }}</a></li>
            {% endfor %}
        </div>
        <div class="button-middle" style="font-size: 18px !important;">
        <a href="{{ path('new_storybook') }}" target="_blank"><button class="button blue admin_button" ><div class="shine"></div>new storybook</button></a>
        </div>
    </div>

    <!--confirm-->
    <div class="fix_block">
        <div class="show_block">
            {% for value in data4 %}
                <li><a href="{{ path('editConfirm',{id:value.id}) }}" target="_blank">{{ value.title }}</a></li>
            {% endfor %}
        </div>
        <div class="button-middle" style="font-size: 18px !important;">
        <a href="{{ path('new_confirm') }}" target="_blank"><button class="button blue admin_button" ><div class="shine"></div>new confirm</button></a>
        </div>
    </div>

    <!--engagement-->
    <div class="fix_block">
        <div class="show_block">
            {% for value in data5 %}
                <li><a href="{{ path('editEngagement',{id:value.id}) }}" target="_blank">{{ value.title }}</a></li>
            {% endfor %}
        </div>
        <div class="button-middle" style="font-size: 18px !important;">
        <a href="{{ path('new_engagement') }}" target="_blank"><button class="button blue admin_button" ><div class="shine"></div>new engagement</button></a>
        </div>
    </div>
</div>
{#<ul>
    {% for value in data1 %}
<li>{{ value.title }}</li>
{% endfor %}

    {% for value in data2 %}
        <li>{{ value.question }}</li>
    {% endfor %}

    {% for value in data3 %}
        <li>{{ value.title }}</li>
    {% endfor %}

    {% for value in data4 %}
        <li>{{ value.images }}</li>
    {% endfor %}

    {% for value in data5 %}
        <li>{{ value.title }}</li>
    {% endfor %}
    </ul>#}

{% endblock %}